@page "/accounts"
@inject AccountService MyService

<PageTitle>Accounts</PageTitle>

<table class="table text-center">
    <thead>
        <tr class="row">
            <th class="col-1">No.</th>
            <th class="col-2">Account name</th>
            <th class="col-3">Email</th>
            <th class="col-2">Platform</th>
            <th class="col-2">Created at</th>
            <th colspan="2" class="col-2">Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var account in @accountList.Select((value, index) => new { value, index }))
        {
            <tr class="row ">
                <td class="col-1">@(account.index + 1)</td>
                <td class="col-2">@account.value.AccountName</td>
                <td class="col-3">@account.value.Email</td>
                <td class="col-2">@account.value.Platform.Name</td>
                <td class="col-2">@account.value.CreationDate</td>
                <td class="col-1">
                    <button class="btn btn-outline-light">
                        <span class="oi oi-pencil"></span>
                        Edit
                    </button>
                </td>
                <td class="col-1">
                    <button class="btn btn-outline-danger" @onclick="ShowDialog">
                        <span class="oi oi-trash"></span>
                        Delete
                    </button>
                </td>
            </tr>
        }
    </tbody>
</table>


<WarningDialog @ref="warningDialog" />

@code {
    private WarningDialog warningDialog;
    IEnumerable<Account> accountList = new List<Account>();

    private void ShowDialog()
    {
        warningDialog.Show();
    }

    protected override void OnInitialized()
    {
    }

    protected override async Task OnParametersSetAsync()
    {
        await Task.Run(() =>
        {
            accountList = MyService.GetAccountsAsync().Result;
        });
    }


}
