@page "/accounts"
@inject IAccountService AccountService

<PageTitle>Accounts</PageTitle>

<table class="table text-center">
    <thead>
        <tr class="row">
            <th class="col-1">No.</th>
            <th class="col-2">Account name</th>
            <th class="col-3">Email</th>
            <th class="col-2">Platform</th>
            <th class="col-2">Last modification</th>
            <th colspan="2" class="col-2">Actions</th>
        </tr>
    </thead>
    <tbody>

        @foreach (var account in @accountList.Select((value, index) => new { value, index }))
        {
            <tr class="row ">
                <td class="col-1">@(account.index + 1)</td>
                <td class="col-2">@account.value.AccountName</td>
                <td class="col-3">@account.value.Email</td>
                <td class="col-2">@account.value.Platform.Name</td>
                <td class="col-2">@account.value.LastModification</td>
                <td class="col-1">
                    <button class="btn btn-outline-light">
                        <span class="oi oi-pencil"></span>
                        Edit
                    </button>
                </td>
                <td class="col-1">
                    <button class="btn btn-outline-danger" @onclick="(() => DeleteAccount(account.value))">
                        <span class="oi oi-trash"></span>
                        Delete
                    </button>
                </td>
            </tr>
        }
        
    </tbody>
</table>

<CascadingValue Name="account" Value="selectedAccount">
    <WarningDialog @ref="warningDialog" />
</CascadingValue>


@code {
    private WarningDialog warningDialog = new WarningDialog();
    private Account selectedAccount = new Account();
    IEnumerable<Account> accountList = new List<Account>();

    protected override async Task OnParametersSetAsync()
    {
        accountList = await AccountService.GetAccountsAsync();
    }

    private void DeleteAccount(Account deletedAccount)
    {
        selectedAccount = deletedAccount;
        warningDialog.Show();
    }
}
