@page "/person"
<PageTitle>Person</PageTitle>

<div>@person.Name</div>
<br />
<input @bind-value="person.Name"
        @bind-value:event="oninput"/>
<div>@person.Age</div>
<br />
<input type="number" @bind-value="person.Age"
        @bind-value:event="oninput"/>
<br />
<label>Is active</label>
<input type="checkbox" @bind-value="person.IsActive" 
                        checked="@person.IsActive"/>
<div>Is active: @(person.IsActive)</div>
<label>
    <input type="radio" value="1" name="group" checked="@(selectedGroup == 1)" @onclick="@(() => selectedGroup = 1)"/>1
</label>
<label>
    <input type="radio" value="2" name="group" checked="@(selectedGroup == 2)" @onclick="@(() => selectedGroup= 2)" />2
</label>
<div>@selectedGroup</div>
<div>
    <select @bind="@selectedLocationId">
        <option value="0"></option>
        @foreach (var location in person.Locations)
        {
            <option value="@location.Id">@location.City</option>
        }

    </select>
    <div>Location id: @(selectedLocationId)</div>
</div>
<div>
    <ul>
        @foreach (var location in person.Locations)
        {
            <li>@location.City</li>
        }
    </ul>
</div>

@code {
    protected override void OnInitialized()
    {
        person = new PersonViewModel()
            {
                Name = "Duy",
                Age = 20,
                IsActive = true,
                Locations = new List<Location>
                {
                  new Location()
                  {
                      Id = 1,
                      City = "Ho Chi Minh",
                  },
                  new Location()
                  {
                      Id = 2,
                      City = "Kien Giang",
                  },
                },
            };
    }
    PersonViewModel person = null;
    int selectedGroup = 0;
    int selectedLocationId = 0;

    class PersonViewModel
    {
        public string Name { get; set; }
        public int Age { get; set; }
        public bool IsActive { get; set; }
        public List<Location> Locations { get; set; }
    }

    class Location
    {
        public int Id { get; set; }
        public string City { get; set; }
        public string ProvState { get; set; }
        public string Country { get; set; }
    }
}
